.circle {
  height: 80px;
  width : 80px;
  background: black;
  border-radius: 50%;
  display: inline-block;
  margin: auto;
} 


.standing {
  background: black;
  margin: auto;
  width: 105px;
  padding: 40px 0 30px 12px;
  font-size: 150px;
  line-height: 100px;
} 